#nlu-model {
  .menu:not(.right) {
    background: '#fff';
    .menu.right {
      padding: '0.64em 0em';
    }
  }
  
  input:focus + .text + :not(.ui.active.search.selection.dropdown) {
    color: hsl(288, 50%, 90%) !important;
  }

  .active.selected.item {
    border:0
  }
}

.project-children #nlu-model .ui.pointing.secondary.menu {
  height: @top-menu-height;
}

.confirm-popup.segment.ui.basic {
  padding: 0;
  text-align: center;
  .button {
    font-weight: 400;
  }
  div.popup-buttons {
    margin: 12px auto 0 auto;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
  }
}

.project-children #nlu-model .ui.pointing.secondary.menu div.header.item {
  padding-bottom: 0.3rem;
}