.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
node_modules
projects
.idea/inspectionProfiles/Project_Default.xml
.idea/runConfigurations/Run.xml
.idea/runConfigurations/Test.xml
do_not_commit
public/fonts/icons*
public/fonts/brand*
public/fonts/outline*
/botfront/client/fonts/
datepicker.less
botfront/cypress/videos
botfront/cypress/screenshots
bf_project_id.txt
bf_model_id.txt
.DS_Store
.pytest_cache
botfront/cypress/mounted/models
dev_project
scripts/db
*.bak