.entity-dropdown.ui.selection.dropdown {
  border-color: fade(@blue, 50%);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.entity-dropdown.ui.selection.dropdown>input.search {
  padding-left: 3em !important;
}

.entity-dropdown.ui.selection.dropdown.icon>.icon {
  background-color: fade(@blue, 5%);
  color: @blue;
}