.ui.borderless.menu.top-menu {
    height: @top-menu-height;
}

.top-menu.incoming {
    background-color: #fafafa;
    margin-bottom: 0;
}

.incoming-background {
    padding-top: 15px;
    background-color: #fafafa;
    // div.row {
    //     border-radius: 4px;
    //     box-shadow: 0 2px 20px 0 rgba(34, 36, 38, 0.06);
    //     background-color: white;
    //     margin-bottom: 8px;
    // }
}