.incoming-tabs {
    display: flex;
    margin-left: 15em;
    margin-right: auto;
}
.language-container{
    position: relative;
    width: 1em;
    height: 100%;
    .header.item.language-item {
        line-height: 100%;
        padding-top: 0.25em;
    }
}

.conversation-browser {
    min-width: 180px;
    max-width: 230px;
    .item {
        word-break: break-word;
    }
}