.example-editor-form {
  .example-editor-container {
    .inline-example-editor {
      padding-left: 0.5em;
    }
    .highlight {
      padding-left: 0;
      font-family: unset;
    }
  }
}
.example-editor-container {
  .highlight {
      color: transparent;
      pointer-events: none;
      font-family: sans-serif;
      padding: 5px 8px;
      white-space: pre;
      position: absolute;
      top: 7px;
      left: 7px;
  }
}

.tester div.ui.segment {
  border: 0;
  border-radius: 0 0 4px 4px !important;
  box-shadow: 0 1px 5px rgba(34, 36, 38, 0.1) !important;
  div.overflow {
    height: fit-content;
    white-space: normal;
  }
}

.entities-viewer {
  float: left;
  margin: 0 10px 10px 0;
}

.entity-value-input {
  width: 100%;
  height: 2.5em;
  .label {
    min-width: 60px;
  }
}

.conversation-user-utterance.text {
  display: flex;
  .metadata.conversation-utterance-confidence { 
    line-height: 1.5em;
    margin-left: 0.2rem;
  }
}