//body {
// font-size: 14px !important;
//}

img {
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 75%;
  -webkit-box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
  -moz-box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
  box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
}

video::-webkit-media-controls-panel {
  background-image: none !important;
  
}

.theme-container .sidebar {
    background-color: #f9f9fb;
}

span.site-name:before {
    content: "Botfront. ";
    font-weight: 700;
    color: rgb(40, 41, 65);
    margin-right: 10px;
    font-size: 1.5em;
}

.home .hero img {
  max-height: 500px !important
}

video {
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
  -moz-box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
  box-shadow: 10px 10px 22px -9px rgba(235, 235, 235, 1);
}

a.sidebar-link {
  line-height: 1.1 !important;
  font-size: 0.97em !important;
}

.sidebar-heading  {
  text-transform: uppercase;
  font-size: 0.8em !important;
  font-weight: 600 !important;
}

.sidebar-group a.sidebar-link {
    padding-left: 1.3rem !important;
}
$accentColor = #1f6fff
