.ui.menu .item>i#selected {
    opacity: 0.90;
}

.ui.menu .item>i#not-selected.not-hovered {
    opacity: 0.10;
}

.ui.menu .item>i#not-selected.hovered {
    opacity: 0.25;
}

.ui.menu .item>i#not-selected.hovered-icon {
    opacity: 0.50;
}
